extends layout

block content
        .ml.bgcolor-3(ng-controller="mlcontroller")
            h1 melisa
            img(src="images/MElisa icon.png").img-icon
            input.input__field.input__field--kyo(placeholder="Hola ¿Qué estás buscando?", ng-model="query" ng-change="askMelisa(query)" ng-model-options='{ debounce: 1000 }' type="text")
            ul
                li(id="resp")
                  {{resp}}
                  li
                    {{price | currency}}
