doctype html
html
  head
    link(rel="SHORTCUT ICON", href="/images/MElisa icon title.png", type="favicon/ico")
    title Melisa
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/angular.min.js")
    link(rel="stylesheet" type="text/css" href="css/normalize.css" )
    link(rel="stylesheet" type="text/css" href="fonts/font-awesome-4.2.0/css/font-awesome.min.css" )
    link(rel="stylesheet" type="text/css" href="css/demo.css" )
    link(rel="stylesheet" type="text/css" href="css/set1.css" )
    link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans")
    script(src="/javascripts/sugerencias.js")
  body(ng-app="mlapp")

     block content
